// Colors
$Purple-50: hsl(260, 100%, 95%);
$Purple-300: hsl(264, 82%, 80%);
$Purple-500: hsl(263, 55%, 52%);
$White: hsl(0, 0%, 100%);
$Grey-100: hsl(214, 17%, 92%);
$Grey-200: hsl(0, 0%, 81%);
$Grey-400: hsl(224, 10%, 45%);
$Grey-500: hsl(217, 19%, 35%);
$Dark-blue: hsl(219, 29%, 14%);
$Black:hsl(0, 0%, 7%);

// Font sizes
$size-12: 12px;
$size-13: 13px;
$size-14: 14px;
$size-20: 20px;
$size-21: 21px;

// Font weights
$weight-200: 200;
$weight-500: 500;
$weight-600: 600;